.ahaBtn{
    width: 100%;
    padding: 12px 20px;
    background-color: #fff;
    transition: all 300ms ease-in-out;
    border: 2px solid #EA9571;
    color: #EA9571;
}
.ahaBtn:hover{
    color: #f0f0f0;
    background-color: #EA9571;
    box-shadow: 0 1rem 3rem #ea9571ee !important;
}